@charset "UTF-8";

/*  BENJAM-STYLE HEADINGS  */

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: inherit;
    text-align: center;
    -moz-text-align-last: auto;
    text-align-last: auto;
    text-decoration: none;
    letter-spacing: normal;
}

h2, h1 ~ * h1, header ~ * h1 {
    margin: 1.2rem 0;
    padding: 0;
    font-size: 2rem;
    font-weight: inherit;
    text-align: left;
    -moz-text-align-last: auto;
    text-align-last: auto;
    letter-spacing: .25rem;
}

h3, h1 ~ * h1 ~ h2, header ~ * h1 ~ h2, h1 ~ * header ~ h2, header ~ * header ~ h2, h2 ~ * h1, h2 ~ * h2, h1 ~ * h1 ~ * h1, h1 ~ * h1 ~ * h2, header ~ * h1 ~ * h1, h1 ~ * header ~ * h2, header ~ * header ~ * h1 {
    margin: 1.2rem 0 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    -moz-text-align-last: auto;
    text-align-last: auto;
    text-decoration: underline;
    letter-spacing: normal;
}

h3::after, h1 ~ * h1 ~ h2::after, header ~ * h1 ~ h2::after, h1 ~ * header ~ h2::after, header ~ * header ~ h2::after, h2 ~ * h1::after, h2 ~ * h2::after, h1 ~ * h1 ~ * h1::after, h1 ~ * h1 ~ * h2::after, header ~ * h1 ~ * h1::after, h1 ~ * header ~ * h2::after, header ~ * header ~ * h1::after {
    content: " : ";
}
