@charset "UTF-8";

/*  @RULES  */

/*  GLOBAL RULES  */

*[data-benjam-float^="clear"] {
    clear: both;
}
*[data-benjam-float="left"], *[data-benjam-float="clear-left"] {
    float: left;
    margin: 0 1rem 0 0;
}
*[data-benjam-float="right"], *[data-benjam-float="clear-right"] {
    float: right;
    margin: 0 0 0 1rem;
}

*:root *[hidden] {
    display: none;
}

*[title]:not([title=""]):not(a) {
    border-bottom: dotted currentColor black;
}

@supports (text-decoration-style: dotted) {
    *[title]:not([title=""]):not(a) {
        border: none;
    }
}

header[data-benjam-full] * {
    flex-shrink: 0;
}

/*  PAGE LAYOUT  */

html {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    max-width: 36rem;
    min-height: 100vh;
    min-height: calc(100vh - 2.4rem);
}

/*  SECTIONING  */

aside {
    margin: 1.2rem 1rem;
}

footer, header, main, nav, section, div {
    display: block;
    margin: 0;
    padding: 0;
}

footer {
    margin: 1.2rem 0 0;
}

header {
    margin: 0 0 1.2rem;
}

header[data-benjam-full] {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 2.4rem);
    overflow: auto;
}

header[data-benjam-full]::before {
    flex-shrink: 1;
    height: 25%;
}

/*  TABLES  */

caption {
    margin: 0;
    padding: .3rem .25rem;
}

table {
    margin: 1.2rem auto;
    border-collapse: separate;
    border-spacing: .125rem .15rem;
    padding: 0;
}

tbody + tbody::before {
    display: table-row;
    height: 1.2rem;
}

td > table:only-child {
    margin: auto;
    width: 100%;
}

td, th {
    border: none;
    border-radius: .125rem;
    padding: .15rem .125rem;
    vertical-align: top;
}

/*  LISTS  */

ul, ol, dl {
    margin: 0;
    padding: 0 0 0 2rem;
}


header[data-benjam-full] > nav ol {
    counter-reset: benjam-list-counter;
}

header[data-benjam-full] > nav ol li {
    display: inline;
    counter-increment: benjam-list-counter;
}

td > dl:only-child, th > dl:only-child {
    padding: 0;
}

dt {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

dd {
    position: relative;
    margin: 0;
    padding: 0;
}

dd + dd::before {
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
}

dd:after {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

/*  BLOCK ELEMENTS  */

blockquote {
    display: block;
    position: relative;
    margin: 1.2rem auto;
    padding: 0 2rem;
}

blockquote::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2.4rem;
}

blockquote::after {
    display: block;
    position: absolute;
    bottom: -1.2rem;
    right: 0;
}

figure, iframe, svg, video, pre {
    display: block;
    margin: auto;
    border: none;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    overflow: auto;
}

figcaption {
    display: block;
    margin: .6rem 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1.2rem 0;
    padding: 0;
}

h3 {
    margin: 1.2rem 0 0;
    padding: 0;
}

hr {
    margin: 1.2rem auto;
    margin: calc(1.2rem - .5px) auto;
    border: none;
    border-bottom: 1px solid;
    padding: 0;
    width: calc(100% - 2rem);
    height: 0;
}

iframe[src*="//youtube.com/embed/"], iframe[src*="//www.youtube.com/embed/"] {
    width: 560px;
    height: 315px;
}

img {
    display: inline-block;
    margin: .6rem .5rem;
    padding: 0;
    width: 6rem;
    height: auto;
}

blockquote img, dt img, dd img, figcaption img, li img, nav img, p img, pre img {
    display: inline-block;
    margin: 0;
    padding: 0 .1rem;
    width: .8rem;
    max-height: .8rem;
    vertical-align: middle;
}

figure > img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
}

td > img:only-of-type, th > img:only-of-type {
    display: block;
    margin: auto;
}

p {
    margin: 0 0 1.2rem;
    padding: 0;
}

dd > p:not(:last-child) {
    margin: 0;
}

header p {
    margin: 0;
}

header[data-benjam-full] p {
    margin: 1.2rem 0;
}

pre {
    padding: 1rem;
    max-width: calc(100% - 2rem);
}

/*  PHRASING  */

a[href] {
    transition: color .5s, background-color .5s;
}

@supports (text-decoration-style: dotted) {
    abbr {
        border: none;
    }
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: super;
}
